[project]
name = "kcfgen"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi[standard]>=0.121.1",
    "pydantic-ai>=1.12.0",
    "pypdf>=6.1.3",
]
